<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Отметить посещаемость</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script>
        $(document).ready(function() {
            // Hide all textareas initially
            $('textarea').hide();

            // Show/hide textarea based on checkbox state
            $('input[type="checkbox"]').change(function() {
                if (this.checked) {
                    $(this).closest('tr').find('textarea').hide();
                } else {
                    $(this).closest('tr').find('textarea').show();
                }
            });

            // Check initial state of checkboxes and show/hide textarea accordingly
            $('input[type="checkbox"]').each(function() {
                if (this.checked) {
                    $(this).closest('tr').find('textarea').hide();
                } else {
                    $(this).closest('tr').find('textarea').show();
                }
            });
            // Show error notification if there's an error message
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        icon: 'error',
                        title: 'Ошибка при добавлении данных',
                        text: '{{ message }}'
                    });
                {% endfor %}
            {% endif %}
        });
        
    </script>
</head>
<body>
    <div class="container">
        <h1>Отметить посещаемость в группе "{{ group_class.group_id.group_name }}", предмет - {{ group_class.course_id.course_name }}</h1>
        <form method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="lesson">Занятие:</label>
                <select name="lesson" id="lesson" class="form-control" required>
                    {% for lesson in lessons %}
                        <option value="{{ lesson.id }}">
                            {{ lesson.lesson_date|date:"d.m.Y H:i" }} - {{ lesson.end_time|date:"H:i" }}
                        </option>
                    {% endfor %}
                </select>
            </div>

            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Ребенок</th>
                        <th>Посетил занятие</th>
                        <th>Причина отсутствия (если не пришел на урок)</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in child_form_list %}
                        <tr>
                            <td>{{ forloop.counter }}. {{ item.child.name }} {{ item.child.surname }}</td>
                            <td>
                                <input type="hidden" name="child_id_{{ item.child.id }}" value="{{ item.child.id }}">
                                <input type="checkbox" name="visited_{{ item.child.id }}" checked data-child-id="{{ item.child.id }}" onclick="toggleDescription(this, {{ item.child.id }})">
                            </td>
                            <td>
                                <textarea name="description_{{ item.child.id }}" id="description_{{ item.child.id }}" class="form-control hidden"></textarea>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div class="d-flex justify-content-between">
                <button type="submit" class="btn btn-primary">Сохранить посещаемость</button>
                <a href="../../" class="btn btn-secondary ml-1">Назад к странице выбора группы</a>
                <a href="../../../{{ user_homepage }}/" class="btn btn-secondary ml-2">Назад к странице преподавателя</a>
            </div>
        </form>
    </div>
</body>
</html>
