<!-- core/templates/core/curator.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Curator Page</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Curator Page</h1>
        <a href="{% url 'add_tutor' %}" class="btn btn-success mb-3">Add Tutor</a>
        <a href="{% url 'add_child' %}" class="btn btn-success mb-3">Add Child</a>
        <a href="{% url 'add_group' %}" class="btn btn-success mb-3">Create Group</a>
        <a href="{% url 'schedule' %}" class="btn btn-info mb-3">View Schedule</a>
        
    </div>
</body>
</html>