<!DOCTYPE html>
<html>
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/global.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Выбор группы</title>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <script>
        $(document).ready(function() {
            // Show error notification if there's an error message
            {% if messages %}
                {% for message in messages %}
                    Swal.fire({
                        icon: 'warning',
                        title: 'Иррациональное намерение',
                        text: '{{ message }}'
                    });
                {% endfor %}
            {% endif %}
        });
        
    </script>
</head>
<body>
    
<div class="container">
    <h4>Выберете курс и группу, которой требуется выставить посещаемость в рамках этого курса</h4>
    <form action='add-visit/' method='GET'>
        <label for="course-select">Выбор предмета:</label>
        <select class="course-select" name="course-select">
            {% for course in selected_course %}
                <option value="{{ course.course_id }}" >{{ course.course_name }}</option>
            {% endfor %}
        </select>

        <label for="group-select">Select a group:</label>
        <select class="group-select" name="group-select" style="min-width: 100px">
            {% for group in selected_groups %}
                <option value="{{ group.group_id }}" >{{ group.group_id__group_name }}</option>
            {% endfor %}
        </select>
        <button type="submit" class="btn btn-primary">Перейти к выставлению посещаемости</button>
    </form>

    <a href="../{{ user_homepage }}/" class="btn btn-secondary">Назад к странице преподавателя</a>
    
    <script>
        $(document).ready(function(){
            $('.course-select').change(function(){
                var courseId = $(this).val();
                if(courseId) {
                    $('.group-select').empty();
                    $.ajax({
                        url: 'get-groups/' + courseId + '/',
                        success: function(data){
                            var toAppend = '';
                            for (var i = 0; i < data.length; i++){
                                toAppend += '<option value="' + data[i].group_id + '">' + data[i].group_id__group_name + '</option>';
                                console.log(toAppend);
                            }

                            $('.group-select').append(toAppend);
                        }
                    });
                }
            });
        });
    </script>
</div>
</body>
</html>
