<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Расписание</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>Расписание</h1>
        <form method="get" class="form-inline mb-3">
            <div class="form-group mx-sm-3 mb-2">
                <label for="start_date" class="sr-only">Дата начала</label>
                <input type="date" class="form-control" id="start_date" name="start_date" value="{{ start_date }}">
            </div>
            <div class="form-group mx-sm-3 mb-2">
                <label for="end_date" class="sr-only">Дата конца</label>
                <input type="date" class="form-control" id="end_date" name="end_date" value="{{ end_date }}">
            </div>
            <button type="submit" class="btn btn-primary mb-2">Найти</button>
        </form>

        {% if can_add_lesson %}
            <a href="{% url 'add_lesson' %}" class="btn btn-success mb-3">Добавить занятие</a>
        {% endif %}

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Время</th>
                    <th>Занятие</th>
                    <th>Группа</th>
                    {% if can_add_lesson %}
                        <th>Действия</th>
                    {% endif %}
                </tr>
            </thead>
            <tbody>
                {% for lesson in lessons %}
                    <tr>
                        <td>{{ lesson.lesson_date.date }}</td>
                        <td>{{ lesson.lesson_date.time }}</td>
                        <td>{{ lesson.class_id.course.course_name}}</td>
                        <td>{{ lesson.class_id.group.group_name }}</td>
                        {% if can_add_lesson %}
                            <td>
                                <a href="{% url 'edit_lesson' lesson.pk %}" class="btn btn-primary btn-sm">Править</a>
                            </td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
