<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ведущий</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container">
    <h1>Ведущий</h1>    
        <form method="get">
            <div class="form-group">
                <label for="groupSelect">Выбор группы</label>
                <select id="groupSelect" name="group" class="form-control" onchange="this.form.submit()">
                    {% for group in groups %}
                        <option value="{{ group.group_id }}" {% if group == selected_group %}selected{% endif %}>{{ forloop.counter }}</option>
                    {% endfor %}
                </select>
            </div>
        </form>
    {% if selected_group %}
        <h2>Список ведущих и кураторов</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Индекс</th>
                    <th>ФИО</th>
                    <th>Роль</th>
                </tr>
            </thead>
            <tbody>
                {% for tutor in tutors %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ tutor.worker.name }} {{ tutor.worker.surname }}</td>
                        <td>Ведущий</td>
                    </tr>
                {% endfor %}
                {% for curator in curators %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ curator.worker.name }} {{ curator.worker.surname }}</td>
                        <td>Куратор</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Список детей</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Индекс</th>
                    <th>ФИО</th>
                </tr>
            </thead>
            <tbody>
                {% for child in children %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td><a href="{% url 'child' child.child_id %}">{{ child.name }} {{ child.surname }}</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <h2>Список курсов</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>Индекс</th>
                    <th>Название курса</th>
                </tr>
            </thead>
            <tbody>
                {% for course in courses %}
                    <tr>
                        <td>{{ forloop.counter }}</td>
                        <td>{{ course.course_name }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <div class="buttons">
            <a href="../attendance/" class="btn btn-primary">Отметить посещаемость</a>
            <a href="../edit_behavior/" class="btn btn-secondary">Оценить занятие</a>
            <a href="../schedule/" class="btn btn-info">Расписание</a>
        </div>
    {% else %}
        <p>Выберите группу для отображения данных.</p>
    {% endif %}
</div>
</body>
</html>
